LOG_DIR=.
LOG_LEVEL=info

ETH_RPC=
DB_SOURCE=
JSON_DB_FILE=
FIRESTORE_ACCOUNT_KEY_PATH=
FIRESTORE_LATEST_COLLECTION=
FIRESTORE_MISSING_VAAS_COLLECTION=
FIRESTORE_SIGNED_VAAS_COLLECTION=
GOOGLE_APPLICATION_CREDENTIALS=
