CLOUD_FUNCTIONS_REFRESH_TIME_INTERVAL=
FIRESTORE_LATEST_COLLECTION=
FIRESTORE_TVL_COLLECTION=
FIRESTORE_TVL_METADATA_COLLECTION=
FIRESTORE_LATEST_TOKEN_DATA_COLLECTION=
FIRESTORE_MISSING_VAAS_COLLECTION=
COINGECKO_API_KEY=
