BIGTABLE_TABLE_ID=
BIGTABLE_VAAS_BY_TX_HASH_TABLE_ID=
BIGTABLE_SIGNED_VAAS_TABLE_ID=
BIGTABLE_INSTANCE_ID=
CLOUD_FUNCTIONS_NUM_ROWS=
CLOUD_FUNCTIONS_REFRESH_TIME_INTERVAL=
CLOUD_FUNCTIONS_BLOCK_INCREMENT=
FIRESTORE_LATEST_COLLECTION=
FIRESTORE_TVL_COLLECTION=
FIRESTORE_TVL_METADATA_COLLECTION=
FIRESTORE_LATEST_TOKEN_DATA_COLLECTION=
COINGECKO_API_KEY=
