name: Test
on:
  pull_request:
jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: npm ci
      - run: npm run build
      - run: npm run build -w web
      - name: Run tests
        env:
          ETH_RPC: ${{ secrets.ETH_RPC }}
          SOLANA_RPC: ${{ secrets.SOLANA_RPC }}
        run: npm run test --workspaces --if-present
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npx prettier --check .
  build-fly:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Build
        run: cd fly && go build -v ./...
